
<!-- Wrapper Content Start -->
<div class="wrapper-section">
  <!-- Banner Section Start -->
  <section class="banner-section">
    <div class="banner-vidio">
      <div class="video-wrapper">
        <video autoplay muted loop playsinline preload="metadata">
          <source src="assets/video/akp website home page video v2.mp4" type="video/mp4">
        </video>
      </div>
    </div>
  </section>
  <!-- Banner Section End -->
  <!-- About-us Section start -->
  <section class="about-us-section" id="about-us">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-8">
          <div class="about-us-box" data-aos="fade-right" data-aos-delay="200" data-aos-duration="1000">
            <div class="about-title">
              <h2>About Us</h2>
            </div>
            <div class="content-box">
              <p>Based in Patdi, <strong> <a href="#"> Umiya Digital Studio </a></strong> Shot is a
                creative insight into wedding photography with an exceptional experience of shooting
                <strong> 400+ weddings </strong>since 2013.</p>
              <p>We are candid and traditional specialists. We are willing to travel across the globe
                for wedding shoots.</p>
              <p>Umiya Digital Studio Shot delivers about 250 proceeded pictures to their clients.
                They charge 50% advance while booking. Services offered: Candid Photography,
                Traditional Photography, Pre Wedding Shoots, Wedding Films Albums, Maternity Shoots,
                fashion Shoots etc.</p>
            </div>
            <div class="button-box">
              <a href="#" class="view-more">
                <span class="view-more-title"><span data-text="View all services">View
                    More</span></span>
                <span class="view-more-ripple"><span></span></span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="anim-left">
            <div class="double-img " data-aos="fade-left" data-aos-delay="200" data-aos-duration="1000">
              <img src="assets/images/aabout.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- About-us Section end -->

  <!-- our-services Section start -->
  <section class="services-section">
    <div class="container">
      <div class="title-box">
        <h2>Our Services</h2>
        <p>Our wedding films are a visual delight. It transports you back to the time of the celebrations and brings back all those emotions vividly. These are high production movie like films, beautifully summarizing all your rituals and festivities.</p>
      </div>
    </div>
    <div class="container">
      <div class="service-box" id="pre-wedding">
        <div class="row" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
          <div class="col-12 col-md-6">
            <div class="service-image">
              <img src="assets/images/ppre-wed-img.jpg" alt="">
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="service-content">
              <div class="service-title" >
                <h3>Pre Wedding Photography </h3>
                <p>We are highly recommended to our client for pre wedding photography. It's a best
                  way to create
                  chemistry between the wedding couple and also to allow a photographer to know
                  about likes and
                  dislikes, best postures, comfort zones, creative angles and best poses of
                  couples. We have
                  unique ideas to make your pre wedding photo shoot fun and loving.</p>
              </div>
              <div class="button-box">
                <a href="#" class="view-more">
                  <span class="view-more-title"><span data-text="View all services">View
                      More</span></span>
                  <span class="view-more-ripple"><span></span></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="service-box"  id="wedding">
        <div class="row" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
          <div class="col-12 col-md-6">
            <div class="service-image">
              <img src="assets/images/wed-img-2.jpg" alt="">
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="service-content">
              <div class="sevice-title">
                <h3>Wedding Photography </h3>
                <p>We are highly recommended to our client for wedding photography. It's a best way
                  to create
                  chemistry between the wedding couple and also to allow a photographer to know
                  about likes and
                  dislikes, best postures, comfort zones, creative angles and best poses of
                  couples. We have
                  unique ideas to make your pre wedding photo shoot fun and loving.</p>
              </div>
              <div class="button-box">
                <a href="#" class="view-more">
                  <span class="view-more-title"><span data-text="View all services">View
                      More</span></span>
                  <span class="view-more-ripple"><span></span></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="service-box">
        <div class="row" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
          <div class="col-12 col-md-6">
            <div class="service-image">
              <img src="assets/images/maternity-img.jpg" alt="">
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="service-content">
              <div class="sevice-title">
                <h3>Maternity Photography </h3>
                <p>We are highly recommended to our client for Maternity photography. It's a best
                  way to create
                  chemistry between the Maternity couple and also to allow a photographer to know
                  about likes and
                  dislikes, best postures, comfort zones, creative angles and best poses of
                  couples. We have
                  unique ideas to make your Maternity photo shoot fun and loving.</p>
              </div>
              <div class="button-box">
                <a href="#" class="view-more">
                  <span class="view-more-title"><span data-text="View all services">View
                      More</span></span>
                  <span class="view-more-ripple"><span></span></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="service-box">
        <div class="row" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
          <div class="col-12 col-md-6">
            <div class="service-image">
              <img src="assets/images/child-img.jpg" alt="">
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="service-content">
              <div class="sevice-title">
                <h3>Child Photography</h3>
                <p>We are highly recommended to our client for Child photography. It's a best way to
                  create
                  chemistry between theChild and also to allow a photographer to know about likes
                  and dislikes,
                  best postures, comfort zones, creative angles and best poses of Child. We have
                  unique ideas to
                  make your Child photo shoot fun and loving.</p>
              </div>
              <div class="button-box">
                <a href="#" class="view-more">
                  <span class="view-more-title"><span data-text="View all services">View
                      More</span></span>
                  <span class="view-more-ripple"><span></span></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- prewedding Section end -->

  <!-- Photo Gallary Section start -->
  <section class="photo-gallary">
    <div class="container">
      <div class="title-box">
        <h2>Photo Gallary</h2>
        <p>Our wedding films are a visual delight. It transports you back to the time of the celebrations and brings back all those emotions vividly. These are high production movie like films, beautifully summarizing all your rituals and festivities.</p>
      </div>
      <div class="grid-wrapper">
        <div class="image-grid" data-aos="fade-left" data-aos-delay="200" data-aos-duration="1000">
          <img src="https://images.unsplash.com/photo-1541845157-a6d2d100c931?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1350&amp;q=80" alt="" />
        </div>
        <div class="image-grid" data-aos="fade-down" data-aos-delay="200" data-aos-duration="1000">
          <img src="https://images.unsplash.com/photo-1588282322673-c31965a75c3e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1351&amp;q=80" alt="" />
        </div>
        <div class="tall image-grid" data-aos="fade-right" data-aos-delay="200" data-aos-duration="1000">
          <img src="https://images.unsplash.com/photo-1588117472013-59bb13edafec?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=500&amp;q=60" alt="">
        </div>
        <div class="wide image-grid" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
          <img src="https://images.unsplash.com/photo-1587588354456-ae376af71a25?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="" />
        </div>
        <div class="image-grid" data-aos="fade-left" data-aos-delay="200" data-aos-duration="1000">
          <img src=" https://images.unsplash.com/photo-1558980663-3685c1d673c4?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1000&amp;q=60" alt="" />
        </div>
        <div class="tall image-grid" data-aos="fade-down" data-aos-delay="200" data-aos-duration="1000">
          <img src="https://images.unsplash.com/photo-1588499756884-d72584d84df5?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=2134&amp;q=80" alt="" />
        </div>
        <div class="big image-grid" data-aos="fade-right" data-aos-delay="200" data-aos-duration="1000">
          <img src="https://images.unsplash.com/photo-1588492885706-b8917f06df77?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1951&amp;q=80" alt="" />
        </div>
        <div class="image-grid" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
          <img src="https://images.unsplash.com/photo-1588247866001-68fa8c438dd7?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=564&amp;q=80" alt="" />
        </div>
        <div class="wide image-grid" data-aos="fade-left" data-aos-delay="200" data-aos-duration="1000">
          <img src="https://images.unsplash.com/photo-1586521995568-39abaa0c2311?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1350&amp;q=80" alt="" />
        </div>
        <div class="big image-grid" data-aos="fade-down" data-aos-delay="200" data-aos-duration="1000">
          <img src="https://images.unsplash.com/photo-1572914857229-37bf6ee8101c?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1951&amp;q=80" alt="" />
        </div>
        <div class="tall image-grid" data-aos="fade-right" data-aos-delay="200" data-aos-duration="1000">
          <img src="https://images.unsplash.com/photo-1588453862014-cd1a9ad06a12?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=634&amp;q=80" alt="" />
        </div>
        <div class="image-grid" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
          <img src="https://images.unsplash.com/photo-1588414734732-660b07304ddb?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=675&amp;q=80" alt="" />
        </div>
        <div class="image-grid" data-aos="fade-left" data-aos-delay="200" data-aos-duration="1000">
          <img src="https://images.unsplash.com/photo-1588414734732-660b07304ddb?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=675&amp;q=80" alt="" />
        </div>
      </div>
    </div>
  </section>
  <!-- Photo Gallary Section end -->

  

  <!-- Testimonial Section start -->
  <section class="testimonial-section">
    <div class="container">
      <div class="container">
        <div class="title-box">
          <h2>Testimonial</h2>
          <p>Our wedding films are a visual delight. It transports you back to the time of the celebrations and brings back all those emotions vividly. These are high production movie like films, beautifully summarizing all your rituals and festivities.</p>
        </div>
      </div>
    </div>
    <div class="center-slider">
      <div class="testimonial-box">
        <div class="testimonial_box-icon">
          <i class="fa fa-quote-right"></i>
          </div>
        <div class="testi-text">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae fugiat vero velit sint impedit officia aut dolore distinctio voluptas? Beatae.</p>
        </div>
        <div class="testi-image">
          <img src="assets/images/vishal.jpeg" alt="">
          <p>Ajay Devgan</p>
        </div>
      </div>
      <div class="testimonial-box">
        <div class="testimonial_box-icon">
          <i class="fa fa-quote-right"></i>
          </div>
        <div class="testi-text">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae fugiat vero velit sint impedit officia aut dolore distinctio voluptas? Beatae.</p>
        </div>
        <div class="testi-image">
          <img src="assets/images/dipak-raval.jpeg" alt="">
          <p>Suraj Pancholi</p>
        </div>
      </div>
      <div class="testimonial-box">
        <div class="testimonial_box-icon">
          <i class="fa fa-quote-right"></i>
          </div>
        <div class="testi-text">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae fugiat vero velit sint impedit officia aut dolore distinctio voluptas? Beatae.</p>
        </div>
        <div class="testi-image">
          <img src="assets/images/ketan.jpeg" alt="">
          <p>Gabbar Sing</p>
        </div>
      </div>
      <div class="testimonial-box">
        <div class="testimonial_box-icon">
          <i class="fa fa-quote-right"></i>
          </div>
        <div class="testi-text">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae fugiat vero velit sint impedit officia aut dolore distinctio voluptas? Beatae.</p>
        </div>
        <div class="testi-image">
          <img src="assets/images/sahaj.enc" alt="">
          <p>Sahaj Patel</p>
        </div>
      </div>
      <div class="testimonial-box">
        <div class="testimonial_box-icon">
          <i class="fa fa-quote-right"></i>
          </div>
        <div class="testi-text">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae fugiat vero velit sint impedit officia aut dolore distinctio voluptas? Beatae.</p>
        </div>
        <div class="testi-image">
          <img src="assets/images/dhyani.jpeg" alt="">
          <p>Dhyani Patel</p>
        </div>
      </div>
      <div class="testimonial-box">
        <div class="testimonial_box-icon">
          <i class="fa fa-quote-right"></i>
          </div>
        <div class="testi-text">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae fugiat vero velit sint impedit officia aut dolore distinctio voluptas? Beatae.</p>
        </div>
        <div class="testi-image">
          <img src="assets/images/vishal.jpeg" alt="">
          <p>Ajay Devgan</p>
        </div>
      </div>
    </div>
  </section>
  <!-- Testimonial Section end -->

  <!-- Contact-us Section start -->
  <section class="contact-us-section">
    <div class="contact-form-info">
      <div class="parallax">
        <div class="form-main" id="my_form">
          <div class="main-wrapper">
            <h2 class="form-head">Contact Form</h2>
            <form class="form-wrapper"  onsubmit="openModal()" id="myForm">
              <div class="form-card">
                <input class="form-input" type="text" name="full_name"  required="required" />
                <label class="form-label" for="full_name">Full Name</label>
              </div>
      
              <div class="form-card">
                <input class="form-input" type="email" name="email" required="required" />
                <label class="form-label" for="email">Email</label>
              </div>
      
              <div class="form-card">
                <input class="form-input" type="number" name="phone_number" required="required" />
                <label class="form-label" for="phone_number">Phone number</label>
              </div>
      
              <div class="form-card">
                <textarea class="form-textarea" maxlength="420" rows="3" name="phone_number"
                  required="required"></textarea>
                <label class="form-textarea-label" for="phone_number">Address</label>
              </div>
              <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Submit</button>
            </form>
          </div>
        </div>
      </div>
        
      <!-- <div class="parallax">

      </div> -->
    </div>
  </section>
  <!-- Contact-us Section end -->

  <!-- thank dialog start -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Umiya Digital Studio</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h2>Thank you for Connecting...</h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
      </div>
    </div>
    </div>
  <!-- thank dialog end -->			
  
</div>
<!-- Wrapper Content End -->
<!-- Custom JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/umiya-digital/src/assets/js/slick.min.js"></script>
<script src="/umiya-digital/src/assets/js/bootstrap.bundle.min.js"></script>
<script src="/umiya-digital/src/assets/css/aos.js"></script>
<script src="/umiya-digital/src/assets/js/custom.js"></script>
