	<!-- Footer Start -->
	<footer class="footer-section">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-3">
					<div class="logo-box">
						<img src="assets/images/logo-white.svg" alt="">
					</div>
					<div class="address-box">
						<h6>Umiya Digital Studio</h6>
						<p>202, Dwarkesh Complex, jainabad road, Patdi, Di- Surendranagar, Gujarat - 282765</p>
					</div>
				</div>
				<div class="col-12 col-md-3">
					<div class="service-link">
						<h6>Quick Links</h6>
						<ul>
							<li><a href="#" class="btn-line">About-us </a></li>
							<li><a href="#"class="btn-line">Pre-Wedding Photography</a></li>
							<li><a href="#"class="btn-line">Wedding Photography</a></li>
							<li><a href="#"class="btn-line">Child Photography</a></li>
							<li><a href="#"class="btn-line">Dron-Vidiography</a></li>
							<li><a href="#"class="btn-line">Contact-us</a></li>
						</ul>
					</div>
				</div>
				<div class="col-12 col-md-3">
					<div class="service-link">
						<h6>Services</h6>
						<ul>
							<li><a href="#" class="btn-line"> Drone or Helicam</a></li>
							<li><a href="#"class="btn-line">Live Streaming for Wedding</a></li>
							<li><a href="#"class="btn-line">Wedding Video Editing</a></li>
							<li><a href="#"class="btn-line">Wedding Album Designing</a></li>
							<li><a href="#"class="btn-line">Highlight Videos</a></li>
							<li><a href="#"class="btn-line">Wedding Films</a></li>
						</ul>
					</div>
				</div>
				<div class="col-12 col-md-3">
					<div class="contact-us">
						<div class="row">
							<div class="col-12">
								<h6>Contact Us</h6>
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<div class="social-list">
									<div class="icon-box">
										<a href="@" class="social-link">
											<i class="fa fa-envelope"></i>
										</a>
									</div>
									<div class="text-box">
										<a href="#" class="btn-line">umiyadigitalstudio@gmail.com</a>
									</div>
								</div>
							</div>
							<div class="col-12">
								<div class="social-list">
									<div class="icon-box">
										<a href="@" class="social-link">
											<i class="fa fa-phone"></i>
										</a>
									</div>
									<div class="text-box">
										<a href="#" class="btn-line">+91 9978425504</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="folow-us">
						<div class="row">
							<div class="col-12">
								<h6>Follow Us</h6>
							</div>
						</div>
						<ul class="social-list">
							<li>
								<a href="@" class="social-link">
									<i class="fa fa-facebook"></i>
								</a>
							</li>
							<li>
								<a href="@" class="social-link">
									<i class="fa fa-instagram"></i>
								</a>
							</li>
							<li>
								<a href="@" class="social-link">
									<i class="fa fa-youtube-play"></i>
								</a>
							</li>
							<li>
								<a href="@" class="social-link">
									<i class="fa fa-linkedin"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="copyright-text">
			<p>© 2023 Umiya Digital Studio. All rights reserved</p>
		</div>
	</footer>
	<!-- Footer End -->

